name: narou-react build and deploy to GitHub pages

# Controls when the action will run.
on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/deploy-client.yml"
      - "narou-react/**"

defaults:
  run:
    working-directory: narou-react

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: setup-node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "22.x"
          cache: "npm"
          cache-dependency-path: "narou-react/package-lock.json"

      - name: Install
        run: npm ci

      - name: Test
        run: npm run test:ci

      - name: Build
        run: npm run build -- --base=/narou/

      - name: deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: narou-react/build
